<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Ryan Fleharty Portfolio Site</title>
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/skeleton.css">
        <link rel="stylesheet" href="../css/portfolio.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="../js/interactive.js"></script>
    </head>
    <body>
    <div class="container">
        <div class="row hero">
            <h1>Ryan Fleharty</h1>
            <h5>Full-stack Web Developer</h5>
        </div>
        <div class="menu row">
            <button type="button" name="button" class="four columns offset-by-two" id="about">About</button>
            <button type="button" name="button" class="four columns" id="projects">Projects</button>
        </div>
        <div class="content">

        </div>
    </div>
    </body>
</html>
